<link rel="stylesheet" href="{{ url_for('static', filename='css/authorise.css') }}">

{% extends "base.html" %}

{% block title %}
    Authorise
{% endblock %}

{% block content %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        Error! Failed to get request token.
    </div>
{% endif %}

<div class="flex-container">
    <div>
        <h2>1. Follow the instructions on the twitter authorisation page</h2>
    </div>
    <div class="spacing">
        <h2>2. Insert your received code below</h2>
    </div>
    <div>
        <form method="POST">
            <div class="mb-3">
                {{ form.autorisation_key.label() }}
                {{ form.autorisation_key(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}